footer {
    background: linear-gradient(#08000f, #150c3b);
    height: 220px;
}

@media(max-width:630px) {
    footer {
        height: 410px;
    }
}

.footermin {
    position: relative;
}

.footermin a {
    text-decoration: none !important;
    color: white !important;
}

.logo, .preloader__image, .flag {
    max-width: 200px;
    width: 100%;
    height: auto;
    box-shadow: none;
    border-radius: 0px;
}

.logo:hover, .preloader__image:hover, .flag:hover {
    animation: none !important;
    border: none;
    border-radius: none;
    box-shadow: none;
    transition: none;
    border-radius: 0px;
}

.logoa {
    text-align: center !important;
}

.map a, .terms a {
    text-shadow: none !important;
    text-transform: none !important;
}

.copyright {
    position: absolute;
    text-align: left;
    padding-left: 4%;
    top: 90%;
    color: white;
}

.contacts {
    position: absolute;
    top: 90%;
    left: 92%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    color: white;
}

.terms {
    position: absolute;
    top: 50%;
    padding-left: 4%;
}

.map {
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

@media(max-width:630px) {
    .terms {
        top: 160%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .copyright {
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .map {
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .contacts {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(max-width:400px) {
    .mobail {
        display: block;
    }

}

.mobail {
    display: none;
}