body {
    background-color: #08000f !important;
    max-width: 2500px;
    margin: 0 auto !important;
    cursor: url(https://renattop.github.io/cursors/cursor.cur), default !important;
    overflow-x: hidden;
}

.avatar {
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;
}

h1 {
    font-size: calc(1em + 2vw) !important;
    color: #cce5ff !important;
    text-shadow: 0 0 1rem #009cff;
    text-align: center;
}
h2 {
    font-size: calc(0.9em + 1.1vw) !important;
    color: #cce5ff !important;
    text-shadow: 0 0 1rem #009cff;
    padding-top: 10px;
    text-align: center;
}
h3{
    font-size: calc(0.8em + 1vw) !important;
    color: #cce5ff !important;
    text-shadow: 0 0 1rem #009cff;
    padding-top: 10px;
    text-align: center;
}

h4{
    font-size: calc(0.8em + 1vw) !important;
    color: #cce5ff !important;
    text-shadow: 0 0 1rem #009cff;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

h5 {
    font-size: calc(0.7em + 0.8vw) !important;
    color: #cce5ff !important;
    text-shadow: 0 0 1rem #009cff;
    text-align: center;
}

.col {
    text-align: center;
    color: #cce5ff;
    padding: 1em;
}

.col img {
    width: 140px;
    height: 140px;
    border: 2.3px solid #88b8ff;
    -webkit-box-shadow: 0 0 10px rgba(51,153,255,.5);
    box-shadow: 0 0 10px rgba(51,153,255,.5);
    border-radius: 100px;
    cursor: url(https://renattop.github.io/cursors/pointer.cur), pointer !important;
}

.rare img:hover {
    border: #0070FF 3px solid;
    border-radius: 200px;
    box-shadow: #0070FF 0 0 25px 10px;
    transition: all .3s ease;
}

.epic img:hover {
    border: #A335EE 3px solid;
    border-radius: 200px;
    box-shadow: #A335EE 0 0 25px 10px;
    transition: all .3s ease;
}

.leg img:hover {
    border: #bf642f 3px solid;
    border-radius: 200px;
    box-shadow: #bf642f 0 0 25px 10px;
    transition: all .3s ease;
}

.raz {
    margin-top: 100px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.raz div {
    float: right;
}
.raz div:nth-of-type(odd) {
    float: left;
}