{% load i18n %}
<div class="col" data-aos="fade-left" id="ab1">
  <ul class="target target-1">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Valeera/img-a1.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Valeera/a1.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability1}}</h3><em>{{h.ab_desc1}}</em>
    </li>
  </ul>
  <ul class="target target-2">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/ValeeraInvis/img-a1.jpg" alt="" class="img-ab">
    </li>
    <li><img src="https://renattop.github.io/project_HOTS/image/heroes/ValeeraInvis/a1.png" alt="" class="mab">
    </li>
    <li>
      <h3>{% trans "Ambush" %}</h3><em>{% blocktrans %}Ambush an enemy, dealing 130 damage and reducing their Armor by 10 for 5 seconds. Awards 1 Combo Point.{% endblocktrans %}</em>
    </li>
  </ul>
</div>
<div class="col" data-aos="fade-down" id="ab2">
  <ul class="target target-1">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Valeera/img-a2.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Valeera/a2.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability2}}</h3><em>{{h.ab_desc2}}</em>
    </li>
  </ul>
  <ul class="target target-2">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/ValeeraInvis/img-a2.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/ValeeraInvis/a2.png" alt="" class="mab">
    </li>
    <li>
      <h3>{% trans "Cheap Shot" %}</h3><em>{% blocktrans %}Deal 30 damage to an enemy, Stun them for 0.75 seconds, and Blind them for 2 seconds once Cheap Shot's Stun expires. Awards 1 Combo Point.{% endblocktrans %}</em>
    </li>
  </ul>
</div>
<div class="col" data-aos="fade-right" id="ab3">
  <ul class="target target-1">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Valeera/img-a3.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Valeera/a3.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability3}}</h3><em>{{h.ab_desc3}}</em>
    </li>
  </ul>
  <ul class="target target-2">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/ValeeraInvis/img-a3.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/ValeeraInvis/a3.png" alt="" class="mab">
    </li>
    <li>
      <h3>{% trans "Garrote" %}</h3><em>{% blocktrans %}Deal 20 damage to an enemy and an additional 140 damage over 7 seconds, and Silence them for 2.5 seconds. Awards 1 Combo Point.{% endblocktrans %}</em>
    </li>
  </ul>
</div>