{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'home:index' %}"><img src="http://renattop.github.io/image/home/logo.png" alt="" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {% trans "Game" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'roles:index' %}">{% trans "Roles" %}</a>
                    <a class="dropdown-item" href="{% url 'game_modes:index' %}">{% trans "Modes" %}</a>
                    <a class="dropdown-item" href="{% url 'brawl:index' %}">ARAM</a>
                    <a class="dropdown-item" href="{% url 'battlegrounds:index' %}">{% trans "Battlegrounds" %}</a>
                    <a class="dropdown-item" href="{% url 'rating_matches:index' %}">{% trans "Ranked: Storm League" %}</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'heroes:index' %}">{% trans "Heroes" %}<span class="sr-only"></span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:profile' request.user.username %}">{% trans "Profile" %}
                    <span class="sr-only"></span></a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_anonymous %}
            <ul class="auth">
                    <li><button class="auth-btn"><a href="/register/?next={{request.path}}">{% trans "Sign up" %}</a></button></li>
            </ul>
            <ul class="auth">
                    <li><button class="auth-btn"><a href="{% url 'login'%}?next={{request.path}}">{% trans "Log in" %}</a></button></li>
            </ul>
        {% elif user.is_authenticated and user.username == request.user.username %}
            <ul class="auth">
                <li><button class="auth-btn"><a href="{% url 'logout'%}">{% trans "Log out" %}</a></button></li>
            </ul>
            <ul class="auth">
                <li><button class="auth-btn"><a href="{% url 'change_password' %}">{% trans "Change password" %}</a></button></li>
            </ul>
        {% endif %}
        <ul>
            {% for language in languages %}
                <li {% if language.code == LANGUAGE_CODE %} style="display:none"{% endif %}>
                    <a href="/{{ language.code }}/" class="lang">
                        {{ language.name_local }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>