{% load i18n %}
<div class="col" data-aos="fade-left" id="ab1">
  <ul class="target target-1">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Greymane/img-a1.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Greymane/a1.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability1}}</h3><em>{{h.ab_desc1}}</em>
    </li>
  </ul>
  <ul class="target target-2">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/GreymaneVorgen/img-a1.jpg" alt="" class="img-ab">
    </li>
    <li><img src="https://renattop.github.io/project_HOTS/image/heroes/GreymaneVorgen/a1.png" alt="" class="mab">
    </li>
    <li>
      <h3>{% trans "Razor Swipe" %}</h3><em>{% blocktrans %}Swipe in the targeted direction, dealing 126 damage to enemies hit.{% endblocktrans %}</em>
    </li>
  </ul>
</div>
<div class="col" data-aos="fade-down" id="ab2">
  <ul>
    <li class="target target-1">
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Greymane/img-a2.jpg" alt="" class="img-ab">
    </li>
    <li class="target target-2">
      <img src="https://renattop.github.io/project_HOTS/image/heroes/GreymaneVorgen/img-a2.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Greymane/a2.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability2}}</h3><em>{{h.ab_desc2}}</em>
    </li>
  </ul>
</div>
<div class="col" data-aos="fade-right" id="ab3">
  <ul class="target target-1">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Greymane/img-a3.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Greymane/a3.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability3}}</h3><em>{{h.ab_desc3}}</em>
    </li>
  </ul>
  <ul class="target target-2">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/GreymaneVorgen/img-a3.jpg" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/GreymaneVorgen/a3.png" alt="" class="mab">
    </li>
    <li>
      <h3>{% trans "Disengage" %}</h3><em>{% blocktrans %}Roll away and shapeshift into a Human.{% endblocktrans %}</em>
    </li>
  </ul>
</div>