{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    {% include 'site/main_head.html' %}
    <meta name="description" content="{% trans "Home" %} HOTS">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">

    <title>{% trans "Home" %}</title>
</head>

<body>
    {% include 'site/preloader.html' %}
    <header>
    {% include 'site/navbar.html' %}
    </header>
    <main class="container-fluid">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endfor %}
        {% endif %}
        <section class="header">
        </section>
        <section class="head">
            <div style="height: 120px; overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M-6.54,63.45 C150.00,150.00 271.49,-49.99 504.74,84.17 L500.00,0.00 L0.00,0.00 Z"
                        style="stroke: none; fill: #210644;"></path>
                </svg>
            </div>
            <h1>Heroes of the storm</h1>
            <p>{% blocktrans %}Epic Heroes and Relentless Action on Diverse Battlegrounds{% endblocktrans %}</p>
            <div style="height: 120px; overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #210644;"></path>
                </svg>
            </div>
        </section>
        <section class="heroes">
            <div class="bg-top">
                <h3>{% trans "Weekly Rotation" %}</h3>
            </div>
            <div>
                <h2>{% trans "Blizzard Heroes" %}</h2>
                <p>{% blocktrans %}With bold, diverse abilities and forceful personalities, each hero can upend a match – especially if mastered by a determined player.{% endblocktrans %}
                <a href="/heroes/"><button>{% trans "All heroes" %}</button></a>
                </p>
            </div>
            <h3 class="head">{% trans "Weekly Rotation" %}</h3>
            <div class="row">
            {% for h in hero|dictsort:'title' %}
                <div class="col rotation">
                    <div class="col {{h.points.q}}">
                        <a href=" /heroes/{{h.title_en}}">
                            <img src="https://renattop.github.io/image/heroes/{{h.title_en}}/{{h.title_en}}.png" alt="">
                            <h3>{{h.title}}</h3>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
        <section class="battlegrounds">
            <div class="bg-top"></div>
            <div>
                <h2>{% trans "Supercharged Battlegrounds" %}</h2>
                <p>{% blocktrans %}Unlike other MOBAs, Heroes of the Storm features a panoply of dynamic Battlegrounds, each with unique quests and objectives.{% endblocktrans %}
                <a href="/battlefield/"><button>{% trans "All battlegrounds" %}</button></a>
                </p>
            </div>
            <div class="battlegrounds-image"></div>
        </section>
        <section class="game-modes">
            <div class="bg-top"></div>
            <h2>{% trans "Different modes" %}</h2>
            <p>{% blocktrans %}Find the game mode that’s right for you. There’s no wrong way to play!{% endblocktrans %}</p>
            <div class="row modes">
                <div class="col mode">
                <a href="/game_modes/#ai">
                    <h3>{% trans "VS. A.I." %}</h3>
                    <p>{% blocktrans %}Choose your Hero, choose the difficulty, and battle against A.I. controlled opponents.{% endblocktrans %}</p>
                </a>
                </div>
                <div class="col mode">
                <a href="/game_modes/#quick">
                    <h3>{% trans "Quick match" %}</h3>
                    <p>{% blocktrans %}Select your Hero and head into battle against other players on a randomly chosen Battleground!{% endblocktrans %}</p>
                </a>
                </div>
                <div class="col mode">
                <a href="/game_modes/#aram">
                    <h3>ARAM</h3>
                    <p>{% blocktrans %}All Random All Mid. Choose from three Heroes, then battle it out on a chaotic single-lane Battleground.{% endblocktrans %}</p>
                </a>
                </div>
                <div class="col mode">
                <a href="/game_modes/#draft">
                    <h3>{% trans "Unranked" %}</h3>
                    <p>{% blocktrans %}All the ranked play experience, but with none of the pressure. Draft and Ban just like you would in Storm League without affecting your rank.{% endblocktrans %}</p>
                </a>
                </div>
                <div class="col mode">
                <a href="/game_modes/#ranked">
                    <h3>{% trans "Ranked" %}</h3>
                    <p>{% blocktrans %}Defeat your enemies and climb the ranks all the way to Grand Master as a solo player or with a party.{% endblocktrans %}</p>
                </a>
                </div>
                <div class="col mode">
                <a href="/game_modes/#custom">
                    <h3>{% trans "Custom game" %}</h3>
                    <p>{% blocktrans %}Heroes of the Storm - your way. Create a lobby with custom settings, including Battlegrounds and Picks/Bans, and invite your friends!{% endblocktrans %}</p>
                </a>
                </div>
                <div class="bot-svg">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                        preserveAspectRatio="none">
                        <path
                            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                            opacity=".25" class="shape-fill"></path>
                        <path
                            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                            opacity=".5" class="shape-fill"></path>
                        <path
                            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                            class="shape-fill"></path>
                    </svg>
                </div>
            </div>
        </section>
        {% include 'site/disqus.html' %}
    </main>
    <footer>
        {% include 'site/footer.html' %}
    </footer>
    <a class="back_to_top"></a>
    {% include 'site/main_js.html' %}
    <script src="https://user-agent.cc/cdn/uainit.js?code=635_bXmCqhoQhfiO"></script>
</body>

</html>