{% extends 'home/base.html' %}
{% load static i18n %}
{% block css %}{% static 'home/css/profile.css' %}{% endblock %}
{% block title %}{% trans "Profile" %}{% endblock %}
{% block content %}
    <div>
        <img src="https://renattop.github.io/image/heroes/Imperius/Imperius.png" class="avatar"/>
    </div>
    <h1>{{user.username}}</h1>
    <div class="row">
        <div class="col-6">
            <h2>{% trans "Favorite heroes" %}</h2>
            <div class="row">
                {% for hero in user.favorite_heroes.all|dictsort:'title' %}
                    <div class="col {{hero.points.u}} {{hero.hero_type_en}} {{hero.points.q}}">
                        <a href="{% url 'heroes:Heroes' hero.title_en %}"><img src="https://renattop.github.io/image/heroes/{{hero.title_en}}/{{hero.title_en}}.png" alt="{{hero.title}}">
                            <h3>{{hero.title}}</h3>
                        </a>
                    </div>
                {% empty %}
                    <h4>{% trans "No favorite heroes" %}</h4>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <h2>{% trans "Favorite battlegrounds" %}</h2>
            <div class="row">
                {% for bg in user.favorite_bg.all|dictsort:'title' %}
                    <div class="col">
                        <a href="{% url 'battlegrounds:bg' bg.url %}"><img
                                src="{{ bg.preview_url}}" alt="{{bg.title}}">
                            <h3>{% trans bg.title %}</h3>
                        </a>
                </div>
                {% empty %}
                    <h4>{% trans "No favorite battlegrounds" %}</h4>
                {% endfor %}
            </div>
        </div>
        <div class="raz">
            <div>
                <h4>{% trans "Last login" %}:</h4>
                <h5>{{request.user.last_login}}</h5>
            </div>
            <div>
                <h4>{% trans "Date joined" %}:</h4>
                <h5>{{request.user.date_joined}}</h5>
            </div>
        </div>
    </div>
{% endblock %}