{% extends "registration/base.html" %}
{% load static i18n %}
{% block css %}{% static 'home/css/form.css' %}{% endblock %}}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2>{% trans "Change password" %}</h2>
            <div class="input-form">
                <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password"><label for="id_old_password">{% trans "Old password" %}</label>
            </div>
            <span class="helptext">
                {% for error in form.errors.old_password %}
                    <p>{{ error }}</p>
                {% endfor %}
            </span>
            <div class="input-form">
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"><label for="id_new_password1">{% trans "New password" %}</label>
            </div>
            <div class="input-form">
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"><label for="id_new_password2">{% trans "New password confirmation" %}</label>
            </div>
            <span class="helptext">
                {% for error in form.errors.new_password2 %}
                    <p>{{ error }}</p>
                {% endfor %}
            </span>
            <button type="submit">{% trans "Save" %}</button>
    </form>
{% endblock %}