{% extends "registration/base.html" %}
{% load static i18n %}
{% block css %}{% static 'home/css/form.css' %}{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1>{% trans "Reset password" %}</h1>
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="input-form">
        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email"><label for="id_email">{% trans "E-mail" %}</label>
    </div>
    <button type="submit">{% trans "Reset password" %}</button>
</form>
{% endblock %}