{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% autoescape off %}
{% blocktrans %}To initiate the password reset process for your account{% endblocktrans %} {{ user.get_username }} {% blocktrans %}RenatTOP_HOTS site, click on the link below:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.{% endblocktrans %}

{% trans "Sincerely" %},
The RenatTOP
{% endautoescape %}