{% extends "registration/base.html" %}
{% load i18n static %}
{% block css %}{% static 'home/css/form.css' %}{% endblock %}
{% block content %}
    {% if validlink %}
        <form action="" method="post">
            <h2>{% blocktrans %}Please enter (and confirm) your new password.{% endblocktrans %}</h2>
            {% csrf_token %}
            <div class="input-form">
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"><label for="id_new_password1">{% trans "New password" %}</label>
            </div>
            <div class="input-form">
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"><label for="id_new_password2">{% trans "Password confirmation" %}</label>
            </div>
            <button type="submit">{% trans "Change my password" %}</button>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}