{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    {% include 'site/main_head.html' %}
    {% with battleground as bg %}
    <meta name="description" content="{{bg.title}} HOTS">
    <link rel="stylesheet" href="{% static 'battlegrounds/css/bg.css' %}">
    <title>{{bg.title}}</title>
    <style>
        .container-fluid {
            background: url({{bg.big_pictures_url.b}}) top center no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    {% include 'site/preloader.html' %}
    <header>
    {% include 'site/navbar.html' %}
    </header>
    <main class="container-fluid">
        <div>
            <h1>{{bg.title}}</h1>
            <h2>{% trans "Map Objectives" %}</h2>
        </div>
        <div class="row">
            <div class="col">
                <ul class="title_min">
                    <li>
                        <img src="" data-src="{{bg.pictures_url.p1}}" alt="{{bg.title_min1}}" class="lazy obj">
                    </li>
                    <li>
                        <h3>{{bg.title_min1}}</h3>
                        <p>{{bg.desc1}}</p>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="title_min">
                    <li>
                        <img src="" data-src="{{bg.pictures_url.p2}}" alt="{{bg.title_min2}}" class="lazy obj">
                    </li>
                    <li>
                        <h3>{{bg.title_min2}}</h3>
                        <p>{{bg.desc2}}</p>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="title_min">
                    <li>
                        <img src="" data-src="{{bg.pictures_url.p3}}" alt="{{bg.title_min3}}" class="lazy obj">
                    </li>
                    <li>
                        <h3>{{bg.title_min3}}</h3>
                        <p>{{bg.desc3}}</p>
                    </li>
                </ul>
            </div>
            <div class="w-100"></div>
            <div class="fav">
                <td>
                    <form method='POST' action="{% url 'home:favourite_bg' bg.id %}">
                        {% csrf_token %}
                        <input type='hidden' name='hero' value={{ hero.id }}>
                        <button type='submit' class="btn_add">{% trans "Add to Favorites" %}</button>
                    </form>
                </td>
                <td>
                    <form method='POST' action="{% url 'home:del_favourite_bg' bg.id %}">
                        {% csrf_token %}
                        <input type='hidden' name='hero' value={{ hero.id }}>
                        <button type='submit' class="btn_del">{% trans "Remove from favorites" %}</button>
                    </form>
                </td>
            </div>
            <div class="w-100"></div>
            <div>
                <h3>{% trans "Map" %}</h3>
                <img src="{{bg.big_pictures_url.b1}}" alt="" class="image">
            </div>
                <img src="" data-src="{{bg.big_pictures_url.b2}}" alt="Image 1" class="lazy image">
                <img src="" data-src="{{bg.big_pictures_url.b3}}" alt="Image 2" class="lazy image">
                <img src="" data-src="{{bg.big_pictures_url.b4}}" alt="Image 3" class="lazy image">
                <img src="" data-src="{{bg.big_pictures_url.b5}}" alt="Image 4" class="lazy image">
        </div>
        {% endwith %}
            {% include 'site/disqus.html' %}
    </main>
    <footer>
        {% include 'site/footer.html' %}
    </footer>
    <a class="back_to_top"></a>
    {% include 'site/main_js.html' %}
</body>

</html>