<script>
    {% if h.title_en == "Imperius" %}
    var array = imperius;
    {% elif h.title_en == "Abathur" %}
    var array = abathur;
    {% elif h.title_en == "Alarak" %}
    var array = alarak;
    {% elif h.title_en == "Alexstrasza" %}
    var array = alexstrasza;
    {% elif h.title_en == "Ana" %}
    var array = ana;
    {% elif h.title_en == "Anduin" %}
    var array = anduin;
    {% elif h.title_en == "Anubarak" %}
    var array = anubarak;
    {% elif h.title_en == "Artanis" %}
    var array = artanis;
    {% elif h.title_en == "Arthas" %}
    var array = arthas;
    {% elif h.title_en == "Auriel" %}
    var array = auriel;
    {% elif h.title_en == "Azmodan" %}
    var array = azmodan;
    {% elif h.title_en == "Blaze" %}
    var array = blaze;
    {% elif h.title_en == "Butcher" %}
    var array = butcher;
    {% elif h.title_en == "Brightwing" %}
    var array = brightwing;
    {% elif h.title_en == "Cassia" %}
    var array = cassia;
    {% elif h.title_en == "Chen" %}
    var array = chen;
    {% elif h.title_en == "Cho" %}
    var array = cho;
    {% elif h.title_en == "Chromie" %}
    var array = chromie;
    {% elif h.title_en == "Dva" %}
    var array = dva;
    {% elif h.title_en == "Deathwing" %}
    var array = deathwing;
    {% elif h.title_en == "Deckard" %}
    var array = deckard;
    {% elif h.title_en == "Dehaka" %}
    var array = dehaka;
    {% elif h.title_en == "Diablo" %}
    var array = diablo;
    {% elif h.title_en == "Etc" %}
    var array = etc;
    {% elif h.title_en == "Falstad" %}
    var array = falstad;
    {% elif h.title_en == "Fenix" %}
    var array = fenix;
    {% elif h.title_en == "Garrosh" %}
    var array = garrosh;
    {% elif h.title_en == "Gazlowe" %}
    var array = gazlowe;
    {% elif h.title_en == "Genji" %}
    var array = genji;
    {% elif h.title_en == "Graymane" %}
    var array = graymane;
    {% elif h.title_en == "Guldan" %}
    var array = guldan;
    {% elif h.title_en == "Hammer" %}
    var array = hammer;
    {% elif h.title_en == "Hanzo" %}
    var array = hanzo;
    {% elif h.title_en == "Illidan" %}
    var array = illidan;
    {% elif h.title_en == "Jaina" %}
    var array = jaina;
    {% elif h.title_en == "Johanna" %}
    var array = johanna;
    {% elif h.title_en == "Junkrat" %}
    var array = junkrat
    {% elif h.title_en == "Kaelthas" %}
    var array = kaelthas;
    {% elif h.title_en == "Kelthuzad" %}
    var array = kelthuzad;
    {% elif h.title_en == "Kerrigan" %}
    var array = kerrigan;
    {% elif h.title_en == "Kharazim" %}
    var array = kharazim;
    {% elif h.title_en == "Leoric" %}
    var array = leoric;
    {% elif h.title_en == "Li-li" %}
    var array = lili;
    {% elif h.title_en == "Li-ming" %}
    var array = liming;
    {% elif h.title_en == "Lucio" %}
    var array = lucio;
    {% elif h.title_en == "Lunara" %}
    var array = lunara;
    {% elif h.title_en == "Maiev" %}
    var array = maiev;
    {% elif h.title_en == "Malganis" %}
    var array = malganis;
    {% elif h.title_en == "Malfurion" %}
    var array = malfurion;
    {% elif h.title_en == "Malthael" %}
    var array = malthael;
    {% elif h.title_en == "Medivh" %}
    var array = medivh;
    {% elif h.title_en == "Mephisto" %}
    var array = mephisto;
    {% elif h.title_en == "Mei" %}
    var array = mei;
    {% elif h.title_en == "Morales" %}
    var array = morales;
    {% elif h.title_en == "Muradin" %}
    var array = muradin;
    {% elif h.title_en == "Murky" %}
    var array = murky;
    {% elif h.title_en == "Nazeebo" %}
    var array = nazeebo;
    {% elif h.title_en == "Nova" %}
    var array = nova;
    {% elif h.title_en == "Orphea" %}
    var array = orphea;
    {% elif h.title_en == "Probius" %}
    var array = probius;
    {% elif h.title_en == "Qhira" %}
    var array = qhira;
    {% elif h.title_en == "Ragnaros" %}
    var array = ragnaros;
    {% elif h.title_en == "Raynor" %}
    var array = raynor;
    {% elif h.title_en == "Rehgar" %}
    var array = rehgar;
    {% elif h.title_en == "Rexxar" %}
    var array = rexxar;
    {% elif h.title_en == "Samuro" %}
    var array = samuro;
    {% elif h.title_en == "Sonya" %}
    var array = sonya;
    {% elif h.title_en == "Stitches" %}
    var array = stitches;
    {% elif h.title_en == "Stukov" %}
    var array = stukov;
    {% elif h.title_en == "Sylvanas" %}
    var array = sylvanas;
    {% elif h.title_en == "Tassadar" %}
    var array = tassadar;
    {% elif h.title_en == "Thrall" %}
    var array = thrall;
    {% elif h.title_en == "Tracer" %}
    var array = tracer;
    {% elif h.title_en == "Tychus" %}
    var array = tychus;
    {% elif h.title_en == "Tyrael" %}
    var array = tychus;
    {% elif h.title_en == "Tyrande" %}
    var array = tyrande;
    {% elif h.title_en == "Uther" %}
    var array = uther;
    {% elif h.title_en == "Valeera" %}
    var array = valeera;
    {% elif h.title_en == "Valla" %}
    var array = valla;
    {% elif h.title_en == "Varian" %}
    var array = varian;
    {% elif h.title_en == "Whitemane" %}
    var array = whitemane;
    {% elif h.title_en == "Xul" %}
    var array = xul;
    {% elif h.title_en == "Yrel" %}
    var array = yrel;
    {% elif h.title_en == "Zagara" %}
    var array = zagara;
    {% elif h.title_en == "Zarya" %}
    var array = zarya;
    {% elif h.title_en == "Zeratul" %}
    var array = zeratul;
    {% elif h.title_en == "Zuljin" %}
    var array = zuljin;
    {% endif %}
</script>