{% load i18n %}
<div class="col" data-aos="fade-left" id="ab1">
  <ul>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/img-a1.png" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/a1.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability1}}</h3><em>{{h.ab_desc1}}</em>
    </li>
  </ul>
</div>
<div class="col" data-aos="fade-down" id="ab2">
  <ul class="target target-1">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/img-a2r.png" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/a2r.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability2}}</h3><em>{{h.ab_desc2}}</em>
    </li>
  </ul>
  <ul class="target target-2">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/img-a2s.png" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/a2s.png" alt="" class="mab">
    </li>
    <li>
      <h3>{% trans "Incinerate" %}</h3><em>{% blocktrans %}After 0.75 seconds, Deathwing flaps his wings, dealing 70 damage to nearby enemies.{% endblocktrans %}</em>
    </li>
  </ul>
</div>
<div class="col" data-aos="fade-right" id="ab3">
  <ul class="target target-1">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/img-a3r.png" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/a3r.png" alt="" class="mab">
    </li>
    <li>
      <h3>{{h.ability2}}</h3><em>{{h.ab_desc3}}</em>
    </li>
  </ul>
  <ul class="target target-2">
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/img-a3s.png" alt="" class="img-ab">
    </li>
    <li>
      <img src="https://renattop.github.io/project_HOTS/image/heroes/Deathwing/a3s.png" alt="" class="mab">
    </li>
    <li>
      <h3>{% trans "Onslaught" %}</h3><em>{% blocktrans %}After 0.5 seconds, Deathwing lunges in a direction dealing 38 damage to enemies and Slowing them by 35&#37; for 2 seconds. Deathwing bites enemies at the end of the lunge, dealing an additional 72 damage.{% endblocktrans %}</em>
    </li>
  </ul>
</div>